
.search-layout{

    background-color: $mainYellow;

    .search-input{
        font-size: 18px;
        color: $mainBlack;

        .form-control:focus {
            box-shadow: none;
        }
        
        input{
            border: none;
            
        }

        .search-btn{
            background-color: transparent;
            border: none;
            padding: 0.5rem 0.8rem;

            img{
                max-width: 18px;
            }
        }
    }

    .search-icon{
        background-color: $mainGray;
    }

}