

.item-l-data{
  width: 100%;
  padding-left: 1rem;

  .item-l-state-sold{
    margin-bottom: 16px;
    font-size: 14px;
  }

  .item-l-name{
    font-size: 24px;
  }

  .item-l-price{
    margin: 32px 0;
    font-size: 46px;
  }
  
}