
.message-box.message{

  display: block !important;
  text-align: center;

  h1{
    width: 100%;
    font-size: 35px;
    color: rgb(94, 94, 94);
  }

  p{
    font-size: 20px;
    color: rgb(112, 112, 112);
  }

}